button:hover{
  background-color: lightskyblue;
  cursor:pointer ;
}
button:active{
  font-size: 350%;
}

#avatar{
  grid-area: 1/1/2/2;
}
#quiz{
  grid-area: 2/1/3/2;
}
#tasks{
  grid-area: 3/1/4/2;
}
#shop{
  grid-area: 1/2/2/3;
}
#connect{
  grid-area: 2/2/3/3;
}
#settings{
  grid-area: 3/2/4/3;
}
#parent{
  position: absolute;
  height: 60%;
  width: 100%;
  display: none;
  grid-template: '1fr 1fr/ 2fr';
  justify-items: center;
  grid-row-gap: 10%;
}
#list{
  grid-area: 1/1/2/2;
}
#questions{
  grid-area: 2/1/3/2;
}
#logout{
  position:absolute;
  left:10px;
  right:10px;
  font-size: 250%;
  width:25%;
}
#logout:active{
  font-size: 200%;
}
#parentId{
  font-size: 400%;
  text-align: center;
}
#parentIdCode{
  font-size: 400%;
}
