body {
  background-image: url("loginbg.png");
  background-size: cover;
}
h1{
  font-size: 650%;
  text-align: center;
  color: skyblue;
}
#buttons{
  display: grid;
  grid-template: '1fr 1fr 1fr 1fr 1fr 1fr/ 3fr 3fr';
  justify-items: center;
  grid-row-gap: 10%;
}
button{
  background-color: skyblue;
  font-size: 380%;
  border-radius: 12%;
  border: skyblue;
  width: fit-content;
}
button:hover{
  background-color: lightskyblue;
  cursor:pointer ;
}
button:active{
  font-size: 170%;
}
.teachlog{
  grid-area: 1 / 1 / 2 / 2;
}
.login{
  grid-area: 1 / 2 / 2 / 3;
}
.teachsign{
  grid-area: 2 / 1 / 3 / 2;
}
.signup{
  grid-area: 2 / 2 / 3 / 3;
}
.parlog{
  grid-area: 3 / 1 / 4 / 2;
}
.about{
  grid-area: 3 / 2 / 5 / 3;
}
.parsign{
  grid-area: 4 / 1 / 5 / 2;
}


#credentials{
  display: none;
}
#email{
  position: absolute;
  top: 30%;
  left: 20%;
  color: skyblue;
  font-size: 150%;
}
#password{
  position: absolute;
  top: 40%;
  left: 20%;
  color: skyblue;
  font-size: 150%;
}
#submit{
  position: absolute;
  top: 60%;
  left: 40%;
}
